<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li class="active"><a href="/admin/dashboard"><svg class="glyph stroked home">
          <use xlink:href="#stroked-home" />
        </svg> Dashboard</a></li>
    <li><a href="/admin/members"><svg class="glyph stroked male-user">
          <use xlink:href="#stroked-male-user"></use>
        </svg> Quản lý thành viên</a></li>
    <li><a href="/admin/customers"><svg class="glyph stroked male-user">
          <use xlink:href="#stroked-male-user"></use>
        </svg> Quản lý khách hàng</a></li>
    <li><a href="/admin/categories"><svg class="glyph stroked folder">
          <use xlink:href="#stroked-folder"></use>
        </svg> Quản lý danh mục</a></li>
    <li><a href="/admin/products"><svg class="glyph stroked bag">
          <use xlink:href="#stroked-bag"></use>
        </svg> Quản lý sản phẩm</a></li>
    <li><a href="/admin/comments"><svg class="glyph stroked empty message">
          <use xlink:href="#stroked-empty-message" />
        </svg> Quản lý bình luận</a></li>
    <li><a href="/admin/advertise"><svg class="glyph stroked app-window">
          <use xlink:href="#stroked-app-window"></use>
        </svg> Quản lý quảng cáo</a></li>
    <li><a href="/admin/icons"> <svg class="glyph stroked gear">
          <use xlink:href="#stroked-gear" />
        </svg>
        Cấu hình</a></li>
  </ul>

</div>
<!--/.sidebar-->