<!-- navigation -->
<div class="navigation ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- navigations-->
        <div id="navigation" class="">
          <ul>
            <li class="active"><a href="/">Trang chủ</a></li>
            <li><a href="/products">Sản phẩm</a>
            </li>
            <li><a href="/about">Thông tin</a>
            </li>
            <li><a href="/blog">Bài viết</a> </li>
            <li><a href="/contact">Liên hệ, hỗ trợ</a>
            <li><a href="/checkout">Checkout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navigations-->
    </div>
  </div>
</div>
</div>